$color1: rgb(9, 145, 129);

body {
    font-family: Arial, Helvetica, sans-serif;
}

.side-nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #bab8b8;
    overflow-x: hidden;
    padding-top: 20px;

    a {
        padding: 8px 8px 8px 32px;
        font-weight: 600;
        font-size: 15px;
        color: #000000;
        display: block;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    img {
        margin-right: 10px;
    }

    .nd-nav-content span {
        opacity: 0.5;
    }

}

.middle-content {
    margin-left: 210px;
   .top-nav {
        a.active {
            border-bottom: 2px solid $color1;
            color: rgb(9, 145, 129);
        }

        a:hover {
            border-bottom: 2px solid $color1;
        }

        a {
            float: left;
            padding: 10px 98px;
            text-decoration: none;
            font-size: 15px;
            overflow: visible;
            border-bottom: 2px solid rgb(186, 186, 186);
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            color: rgb(144, 143, 143);
        }

    }

    .today-tasks {
        padding-top: 70px;
    }

    .upcoming-tasks {
        padding-top: 20px;
    }

    .checkbox-st {
        height: 15px;
        width: 15px;
    }

    label {
        font-weight: 600;
        opacity: 0.6;
    }

    .status-container {
        position: absolute;
        top: 20%;
        right: 25%;
        text-align: center;
        color: black;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -65%);
        font-size: small;
        font-weight: 600;
        color: rgb(119, 211, 133);
    }

}

.right-side-nav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    border-left: 2px #adadad solid;

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(15px, -65%);
        font-size: small;
        font-weight: 600;
        color: rgb(119, 211, 133);
    }

    .status-container {
        position: absolute;
        top: 3%;
        right: 5%;
        text-align: center;
        color: black;
    }

    .Box1 {
        width: 280px;
        height: 125px;
        background-color: rgb(250, 244, 217);
        margin-left: 33px;
        margin-right: 33px;
        border-radius: 7%;
        padding: 5px 10px;

        img {
            border-radius: 50%;
        }
    }

    .time {
        opacity: 0.7;
        font-size: 15px;
    }

    .title {
        font-weight: 600;
        opacity: 0.7;
    }
}

.middle-content {
    margin-left: 210px;
    width: calc(100% - 210px);
}


//middle size screen 
@media (max-width: 1200px) {
    .side-nav {
        display: none;
    }

    .middle-content {
        margin-left: 10px;

        .top-nav a {
            padding: 10px 75px;
        }

        .status-container {
            right: 33%;
        }
    }

    .right-side-nav {
        width: 380px;
    }

}
//small screen
@media (max-width: 900px) {
    .side-nav {
        display: none;
    }

    .middle-content {
        margin-left: 10px;

        .top-nav a {
            padding: 10px 50px;

        }

        .status-container {
            right: 1%;
        }
        
    }

    .right-side-nav { 
        position: absolute;
    z-index: 1;
    top: 97%;
    left: 0;
    width: 980px; 
    .status-container {
        position: absolute;
        top: 4%;
        right: 90%;
        text-align: center;
        color: black;

        
    }

}
}

@media (max-width: 500px) {
    .side-nav { 
        display: none;
    }
    .middle-content { 
        display: none;
    }

    .right-side-nav { 
        position: absolute;
        top: 0;
        left: 0;
    }
} 
